<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="navigation" >
   <div class="filter" ng-mouseover="showFilter(1);" ng-mouseleave="showFilter(0)">
  <md-button class=" md-fab" >
  <i class="fa fa-street-view icons"></i>
    
    </md-button>
   <div class="sub-filter">
     <md-list>
  <md-list-item>
          Item content in list
  </md-list-item>
   <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
  <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
  <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
</md-list>
 
         </div>
</div>

   <div class="filter2" ng-mouseover="showFilter(2);" ng-mouseleave="showFilter(0)">
  <md-button class=" md-fab" >
  <i class="fa fa-exclamation-circle icons"></i>
    </md-button>

     <div class="sub-filter2">
     <md-list>
  <md-list-item>
          Item content in list
  </md-list-item>
   <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
  <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
  <br/>
  <md-list-item>
          Item content in list
  </md-list-item>
</md-list>
 
         </div>
   </div>
  
</div>

<div layout="">
  
  <div class="post-offset col-sm-6 col-sm-offset-3" >
  <br>
   <div class="md-whiteframe-z1 col-sm-12"><div class="border"></div>
   	<div class="name col-sm-12">
   		Abhishek Jairath
   	</div>
   	<div class="description col-sm-12" >
   		This is my fucking problem. My pipe doesn't work nigga. Oh sorry not my pipe, well actually my pipe only.
   	</div>
   	<div class="image col-sm-12">
   		<img class="col-sm-12" src="modules/core/views/policy.jpg">
   	</div>
   </div>

       <div class="post col-sm-12"><div class="border"></div>
   	<div class="name col-sm-12">
   		Abhishek Jairath
   	</div>
   	<div class="description col-sm-12" >
   		This is my fucking problem. My pipe doesn't work nigga. Oh sorry not my pipe, well actually my pipe only.
   	</div>
   	<div class="image col-sm-12">
   		<img class="col-sm-12" src="modules/core/views/policy.jpg">
   	</div>
   </div>

   <div class="post col-sm-12"><div class="border"></div>
   	<div class="name col-sm-12">
   		Abhishek Jairath
   	</div>
   	<div class="description col-sm-12" >
   		This is my fucking problem. My pipe doesn't work nigga. Oh sorry not my pipe, well actually my pipe only.
   	</div>
   	<div class="image col-sm-12">
   		<img class="col-sm-12" src="modules/core/views/policy.jpg">
   	</div>
   </div>

     <div class="post col-sm-12"><div class="border"></div>
   	<div class="name col-sm-12">
   		Abhishek Jairath
   	</div>
   	<div class="description col-sm-12" >
   		This is my fucking problem. My pipe doesn't work nigga. Oh sorry not my pipe, well actually my pipe only.
   	</div>
   	<div class="image col-sm-12">
   		<img class="col-sm-12" src="modules/core/views/policy.jpg">
   	</div>
   </div>
  </div>
</div>
